.btn{
  background-color: #183a79;
  padding: .5rem 1rem;
  color: #fff;
  margin-left: 1rem;
  text-decoration: none;
  text-transform: capitalize;
  border: 1px solid #183a79;
  border-radius: 2rem;
  cursor: pointer;

  &:hover{
    background-color: #538fff;
    border: 1px solid #183a79;
  }

  &:active{
    background-color: #00606d;
    border: 1px solid #000;
  }

  &:disabled{
    background-color: #818181;
    color: rgb(196, 196, 196);
    border: 1px solid #3d3d3d;
    cursor:default;
  }
}

.x-btn {

  &__btn{
    width: 5rem;
    height: 5rem;
    border: none;
    border-radius: 50%;
    background-color: #538fff;
    cursor: pointer;

    &--active {
      & .side-nav__icon {
        background-color: transparent;
      }

      & .side-nav__icon::after {
        top: 0;
        transform: rotate(-135deg);
      }

      & .side-nav__icon::before {
        top: 0;
        transform: rotate(135deg);
      }

      &:hover .side-nav__icon::after {
        width: 110%;
        left: -1px;
      }

      &:hover .side-nav__icon::before {
        width: 110%;
        left: -1px;
      }
    }
}

  &__icon {
      position: relative;
      @include blockcenter;

      &,
      &::after,
      &::before {
        width: 3rem;
        height: 3px;
        background-color: #d9e6ff;
        display: inline-block;
      }

      &::after,
      &::before {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.2s;
      }

      &::after {
        top: .8rem;
      }

      &::before {
        top: -.8rem;
      }
    }

  &__btn:hover:not(.side-nav__btn--active) &__icon::before {
  top: -1rem;
  }

  &__btn:hover:not(.side-nav__btn--active) &__icon::after {
  top: 1rem;
  }
}

.switch-btn{

  &__switch {
    position: relative;
    display: inline-block;
    width: 1.7rem;
    height: 3.3rem;
    // margin-left: 1rem;
    // margin-right: 7rem;

    &--filter{
      // margin-left: 1rem;
      margin-right: 7.5rem;
    }

    &--card{
      // margin-left: 1rem;
      margin-right: 4rem;
    }
  }
  
  &__switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    background-color: #183a79;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  &__slider:before {
    position: absolute;
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    left: 0.1rem;
    bottom: 1.5rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  /* Rounded sliders */
  &__slider.switch-btn__round {
    border-radius: 3.4rem;
  }
  
  &__slider.switch-btn__round:before {
    border-radius: 50%;
  }

  &__labels{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 2.5rem;
    width: 3rem;
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-weight: 700;
    color: #a3a3a3;
  }

  &__label--1{
    color: #183a79;
  }
}

input:checked + .switch-btn__slider {
  background-color: #538fff;
}

input:disabled + .switch-btn__slider {
  background-color: #a3a3a3
}

input:focus + .switch-btn__slider {
  box-shadow: 0 0 1px #538fff;
}

input:checked + .switch-btn__slider:before {
  -webkit-transform: translateY(1.2rem);
  -ms-transform: translateY(1.2rem);
  transform: translateY(1.2rem);
}

input:checked ~ .switch-btn__labels >.switch-btn__label--1{
  color: #a3a3a3;
}

input:checked ~ .switch-btn__labels >.switch-btn__label--2{
  color: #538fff;
}

