.card-container{
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  // padding:  8rem 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  transition: all .6s;

  
  @include respond(phone) {
    padding:  13rem 3rem;
  }
 }

.card{
  display: flex;
  flex-direction: column;
  position: relative;
  // justify-content:space-between;
  // justify-content: space-evenly;
  justify-content: center;
  align-items: center;
  width: 22rem;
  // height: 33rem;
  background: var(--p-major-color-n);
  border-radius: 1rem;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 2rem 2rem;
  padding: .5rem;
  // animation: moveInTop .4s cubic-bezier(0.11, -1.5, 0.56, 1.03) 2s;
  animation: moveInBottom cubic-bezier(0.11, -1.5, 0.56, 1.03) .6s;
  animation-fill-mode: backwards;

  &__checkbox{
    position: absolute;
    top: .5rem;
    left: .5rem;
  }

  &__content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // align-items: center;
    margin: .5rem;
    padding: 0.5rem;
    width: 20rem;
    // min-height: 10rem;
    background: var(--bg-color);
    border-radius: 1rem;
    justify-self:stretch;
    flex-grow: 1;

    & .p--tags{
      flex-grow: 1;
    }
  }

  &__slider {
      width: 20rem;
      height: 20rem;
      margin: .5rem;
      position: relative;
      /* IN THE END */
      overflow: hidden;

      &--fullscreen{
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        top: -5px;
        // bottom: -5px;
        left: -5px;
        // right: -5px;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 150;

        & .card__slide img{
          max-width: 95%;
          max-height: 95%;
          height: auto;
          width: auto;
        }

        & .card__zoom{
          display: none;
        }
      }
    
      &__btn {
        position: absolute;
        top: 50%;
        z-index: 10;
        border: none;
        background-color: rgba(255, 255, 255, 0.5);
        font-family: inherit;
        color: var(--p-shiny-color);
        border-radius: 50%;
        height: 5.5rem;
        width: 5.5rem;
        font-size: 2.5rem;
        cursor: pointer;
    
        &--left {
          left: 0;
          transform: translate(-50%, -50%);
          padding-left: 2rem;
        }
    
        &--right {
          right: 0;
          transform: translate(50%, -50%);
          padding-right: 2rem;
        }
      }
    }
    
  &__slide {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    
      /* THIS creates the animation! */
      transition: transform 1s;
    
      & > img {
        /* Only for images that have different size than slide */
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    
  &__dots {
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      background-color: rgba(255, 255, 255, 0.5);
      padding: 0.5rem;
      border-radius: 2rem;
    
      &__dot {
        border: none;
        background-color: var(--p-shiny-color);
        opacity: 0.7;
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.5s;
        margin-right: 1.75rem;
        
    
        /* Only necessary when overlying images */
        /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
    
        &:last-child {
          margin: 0;
        }
    
        &--active {
          /* background-color: var(--white-color); */
          background-color: var(--p-dark-color);
          opacity: 1;
        }
      }
    }

  &__btns{
    width: 100%;
    display: flex;
    // display: none;
    flex-direction: row;
    justify-content: space-between;
    justify-self: flex-end;
    align-items: center;
    // position: absolute;
    padding: .5rem;
    // margin-left: 0;
    // bottom: 0;
    // left: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  &__btn{
    font-size: 1.3rem;
    width: 6rem;
    margin-left: 0rem;
    text-align: center;
    height: 100%;
  }

  &__zoom{
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    padding: .5rem;
    height: 3rem;
    width: 3rem;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;

    &--icon{
      height: 2rem;
      width: 2rem;
      fill: rgba(0, 0, 0, 0.6);
      transition: all .2s;
      // background-color: rgba(255, 255, 255, 0.5);
      // border: 1px solid rgba(255, 255, 255, 0.5);
    }

    &:hover .card__zoom--icon{
      fill: rgba(0, 0, 0, 1);
      transform: scale(1.2);
    }
  }
}


.checkbox{
  z-index: 5;

  /* The container */
  &__label {
    display: block;
    position: relative;
    padding-left: 3.5rem;
    margin-bottom: 1.2rem;
    cursor: pointer;
    font-size: 2.2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  &__label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  &__mark {
    position: absolute;
    top: 0;
    left: 0;
    height: 2.5rem;
    width: 2.5rem;
    background-color: var(--white-color);
    // box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.8), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid var(--d-gray-1);
    border-radius: 4px;
  }

  /* On mouse-over, add a grey background color */
  &__label:hover input ~ &__mark {
    background-color: var(--l-gray-3);
    border: 1px solid var(--p-shiny-color);
  }

  /* When the checkbox is checked, add a blue background */
  &__label input:checked ~ &__mark {
    background-color: var(--p-shiny-color);
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  &__mark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  &__label input:checked ~ &__mark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  &__label &__mark:after {
    left: .8rem;
    top: .4rem;
    width: .8rem;
    height: 1.2rem;
    border: solid var(--white-color);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.qr{

  &__container{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    // bottom: 0;
    left: 0;
    // right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 150;
  }
  
  &__img{
    // display: block;
    max-width: 100%;
    max-height: 100%;
    animation: zoomOutMeddle cubic-bezier(0.11, -1.5, 0.56, 1.03) .6s;
    animation-fill-mode: backwards;
  }

  &__btn{
    font-size: 3rem;
    border: 0;
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
    position: fixed;
    top: 2rem;
    right: 2rem;
    background-color: var(--p-dark-color);
    color: var(--white-color);
    cursor: pointer;

    &:hover{
      background-color: var(--p-shiny-color);
    }
  }
}