// primary-color : #538fff;
// primary-light: #d9e6ff;
// primary-Dark: #183a79;
// light gray: #E4E9F7;
// transition: all .6s;

.filter-nav{
    position: absolute;
    top: 0;
    left: 50%;
    opacity: 1;
    transform: translateX(-50%);
    background-color: #d9e6ff;
    width: 90%;
    max-width: 60rem;
    min-width: 30rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem;
    z-index: 50;
    transition: all .4s;

    &--hide{
        top:-50rem;
        opacity: 0;
    }

    &__container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        @include respond(phone) {
            justify-content: center;
          }
    }

    &__selectbox{
        position: relative;
        // max-width: 30rem;
        width: 25rem;
        
        flex-basis: auto;
        flex-grow: 1;
        
        @include respond(phone) {
            width: 30rem;
          }
    }

    &__btn{
        width: 10rem;
        background-color: #183a79;
        color: #fff;
        font-size: 1.6rem;
        border: 0 ;
        border-radius: 2rem;
        padding: .5rem 1rem;
        text-transform: capitalize;
        border: 1px solid #183a79;

        &:hover{
        background-color: #538fff;
        border: 1px solid #183a79;
        }
    }

    &__radio{
        & .switch-btn__labels{
            width: 7rem;
        }
    }
}


// .multiselect{
//     &__container {
//         -webkit-box-align: center;
//         -ms-flex-align: center;
//             align-items: center;
//         background-color: #fff;
//         border-radius: 2px;
//         -webkit-box-shadow: 0 1px 3px 0 #d1d1d2, 0 0 0 1px #d1d1d2;
//                 box-shadow: 0 1px 3px 0 #d1d1d2, 0 0 0 1px #d1d1d2;
//         -webkit-box-sizing: border-box;
//                 box-sizing: border-box;
//         display: -webkit-box;
//         display: -ms-flexbox;
//         display: flex;
//         font-family: Arial,Helvetica,sans-serif;
//         min-height: 36px;
//         padding: 4px 8px 0 8px;
//         position: relative;
//         width: 354px;
    
//         &:after {
//             content:'';
//             min-height:inherit;
//             font-size:0;
//         }
    
//         & > * {
//             color: #656565;
//             font-size: 14px;
//         }
//     }

//     &__wrapper {
//         display: -webkit-box;
//         display: -ms-flexbox;
//         display: flex;
//         -ms-flex-wrap: wrap;
//             flex-wrap: wrap;
//         height: 100%;
//         width: 100%;
//     }

//     &__clear-btn {
//         cursor: pointer;
//         align-items: center;
//         margin-bottom: 4px;
//         margin-left: 4px;

//         & svg {
//             height: 20px;
//             width: 20px;
//         }
//     }

//     &__options {
//         background-color: #f6f6f6;
//         border-radius: 2px;
//         left: 0;
//         max-height: 0;
//         overflow: hidden;
//         position: absolute;
//         top: calc(100% + 3px);
//         z-index: 9999;
//         width: 100%;
//         opacity: 0;
//         transition: max-height 0.1s ease;

//         &.visible {
//             max-height: 200px;
//             -webkit-box-shadow: 0 1px 3px 0 #d1d1d2, 0 0 0 1px #d1d1d2;
//             box-shadow: 0 1px 3px 0 #d1d1d2, 0 0 0 1px #d1d1d2;
//             opacity: 1;
//             transition: max-height 0.2s ease;
//         }

//         & ul {
//             list-style: none;
//             margin: 0;
//             padding: 2px 0;
//             max-height: 200px;
//             overflow: auto;
//         }

//         & ul li {
//             cursor: pointer;
//             padding: 4px 8px;
//         }

//         & ul li * {
//             pointer-events: none;
//         }

//         & ul p.multiselect__options--no-results,
//         & ul p.multiselect__options--no-data {
//             margin: 0;
//             padding: 8px;
//             text-align: center;
//         }

//         & ul li.multiselect__options--selected {
//             background-color: #ff6358;
//             color: #fff;
//         }

//         & ul li.multiselect__options--selected:hover {
//             background-color: #eb5b51;
//         }

//         & ul li:hover {
//             background-color: #dedede;
//         }

//         & ul li.arrow-selected {
//             border: 2px solid rgba(101, 101, 101, 0.5);
//         }
//     }

//     &__selected {
//         background-color: #656565;
//         border-radius: 2px;
//         color: #fff;
//         margin-bottom: 4px;
//         margin-right: 4px;
//         padding: 4px 8px;
//         display: -webkit-box;
//         display: -ms-flexbox;
//         display: flex;
//         -webkit-box-align: center;
//             -ms-flex-align: center;
//                 align-items: center;
        
//         & .multiselect__remove-btn {
//             cursor: pointer;
//             display: flex;
//             margin-left: 6px;
//         }

//         & .multiselect__remove-btn svg {
//             height: 16px;
//             width: 16px;
//         }
//     }

//     &__input {
//         border: none;
//         -ms-flex-preferred-size: 40px;
//             flex-basis: 40px;
//         -webkit-box-flex: 1;
//             -ms-flex-positive: 1;
//                 flex-grow: 1;
//         height: 24px;        
//         margin-bottom: 4px;
//         min-width: 40px;
//         outline: none;      
//     }
// }