.slider {
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
  margin: .5rem;
  position: relative;

  /* IN THE END */
  overflow: hidden;

  &__btn {
    position: absolute;
    top: 50%;
    z-index: 10;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: inherit;
    color: var(--p-shiny-color);
    border-radius: 50%;
    height: 5.5rem;
    width: 5.5rem;
    font-size: 2.5rem;
    cursor: pointer;

    &--left {
      left: 0;
      transform: translate(-50%, -50%);
      padding-left: 2rem;
    }

    &--right {
      right: 0;
      transform: translate(50%, -50%);
      padding-right: 2rem;
    }
  }
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;

  & > img {
    /* Only for images that have different size than slide */
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem;
  border-radius: 2rem;

  &__dot {
    border: none;
    background-color: var(--p-shiny-color);
    opacity: 0.7;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
    margin-right: 1.75rem;
   

    /* Only necessary when overlying images */
    /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */

    &:last-child {
      margin: 0;
    }

    &--active {
      /* background-color: var(--white-color); */
      background-color: var(--p-dark-color);
      opacity: 1;
    }
  }
}
