:root {
    // /* ===== Colors ===== */
    // --body-color: #E4E9F7;
    // --sidebar-color: #FFF;
    // --primary-color: #538fff;
    // --primary-color-light: #d9e6ff;
    // --primary-color-dark: #183a79;
    // --toggle-color: #DDD;
    // --text-color: #707070;

    // /* ====== Transition ====== */
    // --tran-03: all 0.2s ease;
    // --tran-03: all 0.3s ease;
    // --tran-04: all 0.3s ease;
    // --tran-05: all 0.3s ease;

      // this is called costum properties in css not variables in sass which we can control with js.
  // --color-p: rgb(99, 168, 182);
  // --color-p-n: 99, 168, 182;
  // --color-p-l: rgb(163, 214, 224);
  // --color-p-d: rgb(38, 100, 112);
  // --color-p-l-n: 163, 214, 224;
  // --color-p-d-n: 38, 100, 112;

  // test orginal colors
  // --color-p: rgb(149, 173, 178);
  // --color-p-n: 149, 173, 178;
  // --color-p-l: rgb(197, 204, 206);
  // --color-p-d: rgb(74, 102, 107);
  // --color-p-l-n: 197, 204, 206;
  // --color-p-d-n: 74, 102, 107;

  // --color-g-l-1: rgb(250, 249, 249);
  // --color-g-l-2: rgb(244, 242, 242);
  // --color-g-l-3: rgb(240, 238, 238);
  // --color-g-l-4: rgb(204, 204, 204);

  // --color-g-d-1: rgb(51, 51, 51);
  // --color-g-d-2: rgb(119, 119, 119);
  // --color-g-d-3: rgb(153, 153, 153);

  // --color-black: rgb(14, 14, 14);
  // --color-black-n: 14, 14, 14;

  // --color-white: rgb(255, 255, 255);
  // --color-white-n: 255, 255, 255;

  // // defualt shadow box
  // --shadow-dark: 0 2rem 3rem rgba(0, 0, 0, 0.2);
  // --shadow-dark-b: 0 2rem 6rem rgba(0, 0, 0, 0.8);
  // --shadow-dark-card: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);

  //defualt font size
  --d-font-size: 1.6rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // this defines what 1 rem is not so much typography
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
  // font-size: 80%; // 1rem = 10px, 10px/16px = 62.5%
  // scroll-behavior: smooth;
  overflow-x: hidden;
  box-sizing: border-box;

  @include respond(big-desk) {
    // width > 1800
    font-size: 80%; //1rem = 12px, 12px/16px = 75%
    // font-size: 100%; //1rem = 12px, 12px/16px = 75%
  }

  @include respond(tab-land) {
    // width < 1200
    font-size: 56.25%; //1rem = 9px, 9px/16px = 56.25%
    // font-size: 62.5%; //1rem = 9px, 9px/16px = 56.25%
  }

  // @include respond(less-1000) {
  //   // width < 1200
  //   font-size: 56.25%; //1rem = 9px, 9px/16px = 56.25%
  // }

  @include respond(tab-port) {
    // width < 900
    font-size: 50%; //1rem = 8px, 8px/16px = 50%
    // font-size: 56.25%; //1rem = 8px, 8px/16px = 50%
  }

  @include respond(phone) {
    // width < 600
    // font-size: 40%; //1rem = 8px, 8px/16px = 50%
    // font-size: 50%; //1rem = 8px, 8px/16px = 50%
  }
}


body {
  overflow-x:hidden;
  overflow-y: auto;
  // min-height: 100vh;
  // height: calc(100vh - calc(100vh - 100%));
  // background-color: var(--body-color);
  // transition: var(--tran-05);
}

html,
body {
  max-width: 100vw;
  background: #E4E9F7;
  height: calc(100vh - calc(100vh - 100%));
}

// ::selection{
//   background-color: #538fff;
//   color: #fff;
// }

